<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>My trips | Home</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>

  <% if(message !="" ) { %>
    <section id="message">
      <p>
        <%= message %>
      </p> <span id="close">&times;</span>
    </section>
    <% } %>

<header class="topnav">
  <nav>
      <a href="/">Home</a>
      <a href="/Database">New trip</a>
  </nav>
</header>

<main>

  <div>
    <p class="intro">
      Dear guests! This is a summary of wonderful locations that I once visited. Enjoy!
    </p>
  </div>

<section class = "Container-Cards">
      <% Trip.forEach((item, id)=> { %>
          <div class="Card">    
              <a class="NoneLink" href="/tripview/<%=id%>">
                 <p class="fonts" ><%= item.Nome%> </p>
                  <img src="<%= item.Image %>" height="252" width="162" />
                 <p class = "fonts"><%= item.City%></p>
                 <p class = "fonts"> - <%= item.Country%> -</p>
                </a>
            </div>
       <% }) %>
 </section>
 </main>

<script type="text/javascript" src="js/script.js"></script>
</body>

</html>